<%-include("header")-%>


<h2>this is the about page</h2>
<p>asdnjfgaiosdhfpioasdhfouasd hfaosdfh ioasdh asuiofh ouas hdofh asdfahs df naskdjfnaslkd nf aisdnfaisdnawjf niuasdhfaisfbniu n</p>
<%-include("footer")-%>
